.listCard{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 290px 290px 290px 290px;
  justify-content: center;
  gap: 32px 22px;
  align-items: baseline;


  @media(min-width: 768px){
    grid-template-columns: 290px 290px;
  }

  @media(min-width: 1280px){
    grid-template-columns: 290px 290px 290px 290px;
  }

  @media(max-width: 767px){
    grid-template-columns: 290px;
  }
}