// cores 
$main-color: #112758; 
$main-color-hover: ""; 
$sec-color: #fff; 
$sec-color-hover: ""; 
$cor-text: #777;
$cor-title-card: "";
$cor-link-card: "";

// medidas relativas de fontes
$f17: 1.19em;
$f16: 1rem;
$f15: 0.94rem;
$f14: 0.9em;
