@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

html,
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;

  @media (max-width: 767px) {
    font-size: 1.5rem;
  }
}

.ativo{
  color: green;
}

.inativo{
  color: tomato;
}

.pendente{
  color: rgb(255, 115, 0);
}